# Node modules
node_modules/

dist/

# Logs
logs/
*.log

# Environment variables
.env

# OS specific files
.DS_Store
Thumbs.db

# Build files
dist/
build/
out/

# IDEs
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
